<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.khanhit100896.foody">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/food_barnstar_hires"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name=".main.LoginActivity" />
        <activity android:name=".main.RegisterActivity" />
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".food.FoodDetailsActivity" />
        <activity android:name=".restaurant.RestaurantBranchActivity" />
        <activity android:name=".branch.BranchDetailsActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".home.HomRestaurantActivity" />
        <activity android:name=".home.HomeRestaurantFoodActivity" />
        <activity android:name=".home.HomeFoodBuffetActivity" />
        <activity android:name=".home.HomeFoodChayActivity" />
        <activity android:name=".home.HomeFoodAVActivity" />
        <activity android:name=".city.CityActivity" />
        <activity android:name=".food.FoodActivity" />
        <activity android:name=".main.SplashScreenActivity" />
        <activity android:name=".main.MapActivity" />
        <activity android:name=".main.SearchActivity" />
        <activity android:name=".main.CommentActivity" />
        <activity android:name=".like.LikeActivity" />
        <activity android:name=".like.BranchLikeDetailsActivity" />
        <activity android:name=".like.FoodLikeDetailsActivity" />
        <activity android:name=".like.RestaurantBranchLikeActivity" />
        <activity android:name=".history.HistoryActivity" />
        <activity android:name=".history.BranchTouchDetailsActivity" />
        <activity android:name=".history.FoodTouchDetailsActivity" />
        <activity android:name=".history.RestaurantBranchTouchActivity" />
        <activity android:name=".home.HomeNearActivity"></activity>
    </application>

</manifest>